*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 30px;
    animation: efeito2 1.2s infinite alternate;
}
h1{
    margin-top: 100px;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    margin-bottom: 100px;
    animation:  efeito1 15s infinite ;
    font-family: 'Cinzel';
}
h1:hover{
    text-decoration: underline;
    font-size: 3rem;
    border-bottom:  10px solid #000;
    
}
#bicho{
    border-radius: 20px;
    width: 500px;
    animation: efeito3 1,5s infinite 
}
#run{
    border-radius: 20px;
    width: 400px;
    animation: efeito3 3s infinite
}
footer.a{
    color:white;
}



@keyframes efeito1 {
    from {
        margin-right: -100%;
        width: 100%;
    }
    to{
        margin-left: 100%;
        width: 100%;
    }
}

@keyframes efeito2 {
    0%{
        background: #000000;
    }
    70%{
        background-image: linear-gradient(to right,#000000,#5e1313);
    }
    100%{
        background-image: linear-gradient(to right, #5e1313,#000000);
    }
}
@keyframes efeito3 {

    from {
        margin-right: -100%;
       
    }
    to{
        margin-left: 120%;
        
    }
    
}